<a href="{{ html_url }}" target="_blank"><h1>{{ name }}</h1></a>
&bull;
{{dateTimeago updated_at }}
<div class="infos">
  <span class="stat stars"><span class="octicon octicon-star"></span> {{ stargazers_count }}</span>
  <span class="stat subscribers"><span class="octicon octicon-eye"></span> {{ subscribers_count }}</span>
  <span class="stat forks"><span class="octicon octicon-repo-forked"></span> {{ forks }}</span>
</div>
<div class="description">{{ description }}</div>
<span id="back_button" class="back_button">Back to list</span>
