<div class='title'>{{ name }}</div>
<div class="infos">
  <span class="stat stars"><span class="octicon octicon-star"></span> {{ stargazers_count }}</span>
  <span class="stat forks"><span class="octicon octicon-repo-forked"></span> {{ forks }}</span>
</div>
