body {
  font-family: 'Open Sans', sans-serif;
  background-color: @bgMainColor;
}

// Header
.grHeader {
  color: @white;
  background-color: @geckoGreen;

  a {
    color: @white;
    &:hover {
      color: @hoverGray;
    }
  }
  .container {
    .commonHeader {
      float: left;
      h1 {
            display: inline-block;
            font-size: 31px;
            font-weight: 600;
      }
    }

    background-color: @geckoGreenDark;

    .userHeader {
      float: right;
      margin: 7px 4px 0 0;
      img {
        width: 50px;
      }
    }

  }
}

.grContent {
  border-top: 3px solid @bgMainColor;
  background-color: @white;
}

.infos {
  color: @lightGray;
  display: table;
  float: right;
  width: 200px;

  .stat {
    display: table-cell;
    width: 50%;
  }
}
// Main list
.geckoMainList {
  margin: 0;
  background-color: @white;

  .repoElt {
    padding: 16px 2px;
    margin: 0 10px;
    border: 0;
    border-bottom: 1px solid @bgMainColor;

    &:first-child, &:last-child {
      border-radius: 0;
    }
    .title {
      display: inline-block;
      font-weight: 600;
      color: @darkTextGray;
      cursor: pointer;
      &:hover {
        color: @geckoGreenDark;
      }
    }
  }
}

// Detailled page
.repoDetail {
  h1 {
    display: inline-block;
    font-size: 28px;
    color: @geckoGreenDark;
  }
  margin-top: 30px;
  border-top: 1px solid @bgMainColor;
  padding-top: 20px;
  color: @kakiText;

  abbr {
    cursor: default;
    border: none;
  }
  .infos .stat{
   width: 33%;
   text-align: center;
  }

  .description {
    margin: 20px;
  }
  .back_button {
    display: inline-block;
    margin-bottom: 30px;
    cursor: pointer;
    color: @geckoGreen;
  }
}

@media (max-width: @screen-sm-min) {
  .grHeader {
    .container {
      .commonHeader {
        h1 {
              font-size: 24px;
        }
      }
      .userHeader {
        margin: 7px 4px 0 0;
      }
    }
  }

}

// override mobile view
@media (max-width: @screen-xs-min) {
  .grHeader {
    .container {
      .commonHeader {
        h1 {
              font-size: 24px;
        }
      }
      .userHeader {
        margin: 7px 4px 0 0;
      }
    }
  }
  .octicon {
    font-size: 11px;
  }
  // Main list
  .geckoMainList {
    .infos {
      width: 112px;
      font-size: 11px;

    }
  }
}

